@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Signika:wght@500&display=swap");

body {
  margin: 0;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

main {
  color: white;
  background-color: #00002c;
  border-bottom: 1px solid #0504048f;
  border-top: 1px solid #0504048f;
  min-height: 80vh;
  padding-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

.router-link-active {
  color: #98b7e1;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

header span {
  padding: 0 20px;
}
header input {
  padding: 8px;
  border: #00002c 1px solid;
}

header {
  height: 10%;
  background-color: #00002c;
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
  border-bottom: 1px#1f1084;
}

footer {
  height: 10%;
  background-color: #00002c;
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.daily-filtro {
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.daily-items {
  align-self: center;
  width: 90%;
  background-color: #ffffff11;
  margin: 20px 0;
  min-height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.caminho-diario {
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.banda-card {
  align-self: center;
  width: 90%;
  background-color: #6563e64b;
  margin: 20px 0;
  min-height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.artistas {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artista {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.artista .artista_imagem {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.artista .artista_imagem img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.artista .artista_titulo {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px rgb(0, 0, 0);
  margin-top: -80px;
  height: 40px;
}

.artista:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

@media all and (max-width: 500px) {
  .artista-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.artista-header {
  background-color: rgba(0, 0, 0, 0.493);
  display: flex;
  min-height: 20vh;
  align-items: center;
  border-bottom: 1px solid #0502028f;
}
.artista-header img {
  max-height: 19vh;
  padding: 0 3vh;
}
.artista-titulo {
  font-weight: bold;
  font-size: 12vh;
  font-family: "Signika";
}
.musicas {
  display: flex;
  width: 90%;
  margin: 10px 0;
  padding: 15px;
  justify-content: space-between;
  background-color: rgb(1, 2, 17);
}
.musica-detalhes img {
  max-height: 40px;
  padding-right: 5px;
}
.albums-detalhes img {
  max-height: 40px;
  padding-right: 5px;
}

.albums-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.musica-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.musica-titulo {
  font-family: "Signika";
  font-size: 1rem;
}
audio {
  width: 1000px;
  height: 100%;
}
.titulo-secao {
  font-family: "Signika";
  font-size: 5vh;
}
.artista-conteudo {
  background-color: #00002cf5;
}
.albums {
  display: flex;
  width: 90%;
  margin: 10px 0;
  padding: 15px;
  justify-content: space-between;
  background-color: rgb(1, 2, 17);
}
button {
  padding: 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.87);
  margin: 0 5px;
}
.audio {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1000;
  top: 90vh;
  background-color: #444;
}
